In [2]:
# 복습

print(list(range(1, 9, 2)))

[1, 3, 5, 7]

In [26]:
for i in range(10):
    if i == 0 or i == 9:
        print("* " * 10, end=" ")
    else:
        print("*                    *")

* * * * * * * * * *  *                    *
*                    *
*                    *
*                    *
*                    *
*                    *
*                    *
*                    *
* * * * * * * * * *

In [5]:
i = 0
while i < 10:
    print("Hello world!")
    i += 1

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [15]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [16]:
a = 1
while a <= 10:
    print(a, end=" ")
    a += 1

1 2 3 4 5 6 7 8 9 10

In [64]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
a = 0
total = 0
while a < len(class_a):
    total = total + class_a[a]
    a = a + 1

average = total / len(class_a)
print(average)

79.0

In [54]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
total = 0
i = 0
while i < len(class_a):
    total += class_a[i]
    i += 1

average = total / len(class_a)
print(average)

79.0

In [68]:
for _ in range(10000):
    print(_)
    if _ == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while True:
    print("Hello world")
    i += 1 
    if i == 100:
        break

In [92]:
i = 0
total = 0
while True:
    total += i 
    i += 0
    if i >= 101:
        break
        
print(total)

KeyboardInterrupt:

In [90]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == "q": break
print("프로그램을 종료합니다.")

q를 입력하면 종료됩니다. q

프로그램을 종료합니다.

In [91]:
for i in range(100):
    if i % 2 == 8:
        continue
    print(i, end="\t")

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99

In [95]:
a = int(input("시작하는 정수 입력 : "))
b = int(input("끝나는 정수 입력 : "))
total = 0 

for i in range(a, b + 1):
    total += i
print(a, "부터", b, "까지의 합은", total, "입니다.")

시작하는 정수 입력 :  1
끝나는 정수 입력 :  10

1 부터 10 까지의 합은 55 입니다.

In [103]:
n = int(input("시작하는 정수 입력 : "))
m = int(input("끝나는 정수 입력 : "))
i = n
total = 0 

while i < m + 1:
    total += i
    i += 1
print(n, "부터", m, "까지의 합은", total, "입니다.")

시작하는 정수 입력 :  1
끝나는 정수 입력 :  10

1 부터 10 까지의 합은 55 입니다.

In [104]:
# Dictionary 자료형
# key : value 비시퀀스 자료형으로 인덱스를 갖지 않는다. key 값이 1:1로 value를 갖는다.
# dictionary_variable = {key: value, Key: value,...}
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

In [106]:
# key 값이 중복될 경우 마지막의 값이 남는다.
dic_var = {"key": "value", "key": "last value"}
print(dic_var)

{'key': 'last value'}

In [107]:
dic_var = {"key": "value",
           1: "value2",
           1.1: "value3",
           True: "value4",
           ("key", 1, 1.1, True): "value2"}
print(list(map(type, dic_var.keys())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]

In [108]:
dic_var = {"key": "value",
           1: 1,
           1.1: 1.1,
           True: False,
           ("key", 1, 1.1, True): ("key", 1, 1.1, True),
          "list": [1, '가', 1,1, True, (1, '나')],
          "dict": {"key": "value", "key2": "value2"},
          "set": {"key", "value"}
          }
print(list(map(type, dic_var.values())))

[<class 'str'>, <class 'bool'>, <class 'float'>, <class 'tuple'>, <class 'list'>, <class 'dict'>, <class 'set'>]

In [109]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [112]:
empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [115]:
dict_a = dict(key1="value", key2="value2", key3="value3")
print(dict_a)

{'key1': 'value', 'key2': 'value2', 'key3': 'value3'}

In [119]:
dict([("key", "value"), ("key2", "value2")])

{'key': 'value', 'key2': 'value2'}

In [122]:
dict_b = dict((zip(["key", "key2", "key3"], ["value", "value2", "value3"])))
print (dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [125]:
keys = ("key", "key2", "key3")
values = ("value", "value2", "value3")

sam_list = []
for index in range(len(keys)):
    sam_list.append((keys[index], values[index]))
print(sam_list)

[('key', 'value'), ('key2', 'value2'), ('key3', 'value3')]

In [126]:
print(dict_b)
print(dict_b['key'])

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
value

In [127]:
dict_b['key'] = "super value"
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [141]:
dict_b['new one'] = "new value"
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new value': 'new value', 'new one': 'new value'}

In [142]:
print(dict_b['key'])

super value

In [147]:
print(dict_b)
print('key' in dict_b)
print('super value' in dict_b.values())

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
True
True

In [146]:
print(dict_b)
del dict_b['new one']
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [183]:
dict_c = {"사과": 1000, "바나나": 700, "오렌지": 1500, "파인애플": 2000}
name = input("과일 이름을 입력하세요.")

print(name,"의 가격은", " ", dict_c[name], "원입니다.", sep="")

과일 이름을 입력하세요. 파인애플

파인애플의 가격은 2000원입니다.

In [180]:
dict_fruit = {"사과": 1000, "바나나": 700, "오렌지": 1500, "파인애플": 2000}

input_fruit = input("과일 이름을 입력하세요.")
print(f"{input_fruit}의 가격은 {dict_fruit[input_fruit]}원입니다.")

과일 이름을 입력하세요. 바나나

바나나의 가격은 700원입니다.

In [200]:
c = input("이름을 기입해주세요.").split(' ')
d = input("몸무게를 입력해주세요.").split(' ')

dict_n = {c[0]: float(d[0]), c[1]: float(d[1]), c[2]: float(d[2]), c[3]: float(d[3])} 
print(dict_n)
print(dict_n.keys())
print(dict_n.values())

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}
dict_keys(['뽀로로', '루피', '크롱', '스누피'])
dict_values([20.4, 16.2, 22.3, 5.2])

In [202]:
v1 = input("이름을 기입해주세요.").split()
v2 = map(float, input("몸무게를 입력해주세요.").split())

dict_info = dict(zip(v1, v2))
print(dict_info)

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

In [212]:
# 리스트 응용
# 리스트 생성, 대괄호 사용
#list = [403, 230, 420, 340, 233]

#print(list[1])

In [213]:
empty_list = []
print(empty_list)
print(type(empty_list))

[]
<class 'list'>

In [2]:
b = list(map(int, input("숫자를 띄어쓰기로 구분하여 여럿 입력").split()))
print(b)

숫자를 띄어쓰기로 구분하여 여럿 입력 10

[10]

In [3]:
# list: [0, 1, 2, ... , 9]
[i**2 for i in list(range(10))]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [216]:
# 리스트 컴프리헨션

list_c = [i for i in range(1,10)]
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [222]:
prac_result = [i**2 for i in range(1,10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [226]:
prac_result2 = [i for i in range(1,10,2)]
print(prac_result2)

[1, 3, 5, 7, 9]

In [245]:
prac_result3 = [i for i in 'abcdef']
print(prac_result3)

['a', 'b', 'c', 'd', 'e', 'f']

In [249]:
txt = 'abcdef'
prac_result4 = [i for i in txt[0:6:2]]
print(prac_result4)

['a', 'c', 'e']

In [278]:
prac_result4 = [str(i) for i in range(2,11)] + [str(i) for i in 'JQKA']
print(prac_result4)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [293]:
prac_result5 = [z for z in [prac_result4] * 4] 
print(prac_result5)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [294]:
prac_result6 = [prac_result4 for z in range(4)] 
print(prac_result6)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [295]:
prac_result4[0] = 'two'
print(prac_result4)

['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [296]:
print(prac_result5)

[['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [302]:
# 객체를 담는 변수의 특징

print("prac_result4의 id:", id(prac_result4))

for i, v in enumerate(prac_result5):
    print("prac_result5[", i, "] : ", id(v), sep="")
    
# 리스트변수[:] -> 새로운 객체를 만들어 반환한다.

prac_result4의 id: 2461565418368
prac_result5[0] : 2461565418368
prac_result5[1] : 2461565418368
prac_result5[2] : 2461565418368
prac_result5[3] : 2461565418368

In [4]:
old_list = list(range(10))
new_list = old_list[:]

print(id(old_list))
print(id(new_list))
print(old_list is new_list)
print(old_list == new_list)

#두 리스트가 값 자체는 같으나 객체는 다르다. / 객체는 다르지만 값은 같음.

2279943691520
2279944507520
False
True

In [5]:
# 리스트 컴프리헨션

list_d = list(i**3 for i in range(10))
print(list_d)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [6]:
list_e = [i for i in range(10)]
print(list_e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list_f =  list_e

In [8]:
print(list_f)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
print(id(list_e))
print(id(list_f))

2279944509248
2279944509248

In [11]:
#리스트 복사 (copy() 메서드)

list_g = list(range(10))
list_h = list_g.copy()
print(id(list_g))
print(id(list_h))
print(list_g is list_h)

2279944396864
2279944165312
False

In [12]:
list_g[0] = 999
print(list_g)
print(list_h)

[999, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# 얕은 복사

list_i = [[0]] * 3

In [14]:
print(list_i)

[[0], [0], [0]]

In [16]:
list_i[0][0] = 999

In [18]:
print(list_i)

[[999], [999], [999]]

In [19]:
# 단 하나의 요소만 바꿨을 뿐인데 모든 요소의 값이 변경된것을 알 수 있다.
# 요소가 객체로 되어있으면 메모리 주소만 복사하는 것을 얕은 복사라고 한다.

In [1]:
# 앞서 *뿐만아니라 슬라이싱, copy() 메서드를 통한 복사도 얕은 복사입니다.

In [10]:
# 리스트 변수를 다른 변수에 할당해서 복사한 경우 객체가 아예 같다고 나온다.

list_e = [i for i in range(10)]
print(list_e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list_f = list_e

In [12]:
print(list_f)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(id(list_e))
print(id(list_f))

1872527521088
1872527521088

In [15]:
print(list_e is list_f)
print(list_e== list_f)

True
True

In [18]:
# 리스트.copy() 메서드는 리스트 객체를 새롭게 복사한 것으로 값은 같지만 서로 다른 객체이다.
# 요소를 변경할 경우 
list_g = list(range(10))
list_h = list_g.copy()
print(id(list_g))
print(id(list_h))
print(list_g is list_h)

1872527598272
1872527583552
False

In [19]:
# 얕은 복사와 깊은 복사는 리스트안의 리스트가 있는 경우에만 고려

list_i = [[0]] * 3
print(list_i)

[[0], [0], [0]]

In [21]:
list_i[0][0] = 999
print(list_i)

[[999], [999], [999]]

In [22]:
# 리스트 안의 리스트는 같은 주소값을 갖고 있구나.

In [24]:
a = [[0]] *3
print(a)

[[0], [0], [0]]

In [25]:
print(id(a[0][0]))
print(id(a[1][0]))
print(id(a[2][0]))

1872444877072
1872444877072
1872444877072

In [26]:
row = [0]
a = []
for i in range(3):
    a.append(row)

In [31]:
print(id(a[0]))
print(id(a[1]))
print(id(a[2]))

1872527630400
1872527630400
1872527630400

In [32]:
b = []
for i in range(3):
    row = [0] # for문이 반복될 때마다 새롭게 생성되는 변수입니다.
    b.append(row)

In [33]:
print(id(b[0]))
print(id(b[1]))
print(id(b[2]))

1872527631104
1872527629888
1872527598528

In [37]:
e = 256
f = 256
print(id(e))
print(id(f))
e is f

1872445073808
1872445073808

True

In [38]:
g = 257
h = 257
print(id(g))
print(id(h))
g is h

1872527556944
1872527557712

False

In [49]:
# 얕은복사

list_l = [[5,6], [7,8]]
list_m = list_l.copy()
print(list_l is list_m)

False

In [50]:
# 깊은복사 / deepcopy()를 위해 copy라는 라이브러리가 필요

import copy
list_n = [[9,10], [11,12]]
list_o = copy.deepcopy(list_n)
print(list_n is list_o[0])

False

In [51]:
# 일반적으로 얕은복사가 사용되며 리스트 안의 리스트가 중첩되었을 경우
# 값이 다르게 나올 수 있으므로 리스트안의 리스트까지 전부 다른 객체로 
# 받아들이기 위해서는 깊은복사를 사용해야한다.

In [53]:
# list_variable = [expression for 변수 in iterable if 조건식]

In [54]:
list_p = [i for i in range(10) if i % 3 == 0]
print(list_p)

[0, 3, 6, 9]

In [55]:
# list_variable = [expression for 변수 in iterable for 변수 in iterable]

In [57]:
list_k = [(a,b) for a in range(1,4)
          for b in range(3,6)]    #가독성을 위해 줄바꿈하면 좋음
print(list_k)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5)]

In [58]:
easy_list = [[1, 2, 3, 4, 5], [3, 4]]
for item in easy_list:
    for i in item:
        print(i)

1
2
3
4
5
3
4

In [59]:
easy_list = [[1, 2, 3, 4, 5], [3, 4]]
i = 0

while i < len(easy_list):
    j = 0
    while j < len(easy_list[i]):
        print(easy_list[i][j])
        j += 1
    i += 1

1
2
3
4
5
3
4

In [60]:
# 제너레이터 컴프리헨션

gen = (i for i in range(10))
type(gen)

generator

In [61]:
print(type(gen))

<class 'generator'>

In [62]:
tuple(gen)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [63]:
type(tuple(gen))

tuple

In [64]:
list(gen)

[]

In [65]:
type(list(gen))

list

In [100]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [136]:
while True:
    num1, num2 = map(int, input("정수 두 개 입력하세요:").split(" "))
    if num1 > 20 or num1 < 1:
        print("첫번째 값의 범위는 1 ~ 20입니다.")
    elif num2 < 10 or num2 > 30:
        print("두번째 값의 범위는 10 ~ 30입니다.")
    elif num1 > num2:
        print("첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.")
    else:
        result = [2**i for i in range(num1, num2 + 1)]
        del result[1]
        del result[-2]
        print(result)
        break

정수 두 개 입력하세요: 99 1

첫번째 값의 범위는 1 ~ 20입니다.

정수 두 개 입력하세요: 20 50

두번째 값의 범위는 10 ~ 30입니다.

정수 두 개 입력하세요: 20 10

첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.

정수 두 개 입력하세요: 10 20

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [173]:
a = int(input("""2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.
찾는 범위를 입력하세요:"""))
j = 2
result1 = [i for i in range(2, a + 1) if i // j == 0]  
print(result1)

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.
찾는 범위를 입력하세요: 100

[]

In [171]:
b = int(input("""2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.
찾는 범위를 입력하세요:"""))

i = 2
line = 0
while i <= b:
    j = 2
    while j <= i:
        if i % j == 0:
            break
        j += 1
    if i == j:
        print(i, end = " ")
        line = line + 1
        if line == 7:
            line = 0
            print()
    i+=1

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.
찾는 범위를 입력하세요: 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [180]:
import random
random_list = [random.randint(1, 99) for _ in range(7)]
print(random_list)

[96, 29, 9, 14, 22, 16, 63]

In [195]:
import random


random = random.randint(1,100)
a = []
while True:
    a = int(input("숫자를 입력하세요:"))
    if a > random:
        print("그보다 작습니다.")
    elif a < random:
        print("그보다 큽니다.")
    elif a < 1 or a > 100:
        print("1 ~ 100 사이의 숫자를 입력하세요.")
    elif a == random:
        print("맞췄습니다!")
        break
print("입력한 숫자는 다음과 같습니다.", ",".join(a))

숫자를 입력하세요: 50

그보다 큽니다.

숫자를 입력하세요: 80

그보다 큽니다.

숫자를 입력하세요: 90

그보다 작습니다.

숫자를 입력하세요: 88

그보다 작습니다.

숫자를 입력하세요: 87

그보다 작습니다.

숫자를 입력하세요: 83

그보다 큽니다.

숫자를 입력하세요: 85

그보다 큽니다.

숫자를 입력하세요: 86

맞췄습니다!

TypeError: can only join an iterable

In [197]:
# 세트 자료형
# 비시퀀스형 = 순서가 없다. / 중복되는 값이 없다.

set_variable = set()
print(set_variable, type(set_variable))

set() <class 'set'>

In [203]:
# 정수 1값을 set_variable에 5차례 넣습니다.
[set_variable.add(6) for _ in range(5)]

# 출력하면 중복된 값 없이 요소를 갖는 걸 볼 수 있습니다.
print(set_variable)

{1, 2, 3, 5, 6}

In [204]:
set_variable.remove(2)
print(set_variable)

{1, 3, 5, 6}

In [206]:
set_variable.discard(3)
print(set_variable)

{1, 5, 6}

In [208]:
set_variable.discard('없음')
print(set_variable)

{1, 5, 6}

In [210]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.union(A, B):", set.union(A, B))
print("A | B", A | B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.union(A, B): {1, 2, 3, 4, 5}
A | B {1, 2, 3, 4, 5}

In [213]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.intersection(A, B):", set.intersection(A, B))
print("A & B", A & B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.intersection(A, B): {2, 4}
A & B {2, 4}

In [212]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.difference(A, B):", set.difference(A, B))
print("A - B", A - B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.difference(A, B): {1, 3}
A - B {1, 3}

In [226]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.symmetric_difference(A, B):", set.symmetric_difference(A, B))
print("A ^ B", A ^ B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.symmetric_difference(A, B): {1, 3, 5}
A ^ B {1, 3, 5}

In [220]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
A.update(B)
print("A.update(B):", A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {1, 2, 3, 4, 5}

In [221]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
A.intersection_update(B)
print("A.update(B):", A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {2, 4}

In [222]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
A.difference_update(B)
print("A.update(B):", A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {1, 3}

In [224]:
A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print("A:", A, "\nB:", B)
A.symmetric_difference_update(B)
print("A.update(B):", A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {1, 3, 5}

In [228]:
A = {_ for _ in range(0, 3)}
B = {_ for _ in range(0, 2)}
print("A:", A, "\nB:", B)
print("A.issubset(B):", A.issubset(B))

A: {0, 1, 2}
B: {0, 1}
A.issubset(B): False

In [230]:
A = {_ for _ in range(0, 3)}
B = {_ for _ in range(0, 2)}
print("A:", A, "\nB:", B)
print("A.issuperset(B):", A.issuperset(B))

A: {0, 1, 2}
B: {0, 1}
A.issuperset(B): True

In [231]:
A = {_ for _ in range(0, 3)}
B = {_ for _ in range(3, 6)}
print("A:", A, "\nB:", B)
print("A.isdisjoint(B):", A.isdisjoint(B))

A: {0, 1, 2}
B: {3, 4, 5}
A.isdisjoint(B): True

In [232]:
list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(set(list_sample))

{1, 2, 3, 4}